{% extends "layout/layout.html" %} {% block title %}Job Dashboard{% endblock %} {% block content %}
<div class="dropdown">
    <button class="btn btn-primary" id="fetch-jobs-btn">Manually Fetch Jobs</button>
    <button class="btn btn-success" id="start-polling">Start Polling</button>

    <div class="btn-group ml-2" id="action-menu">
        <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            Actions
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item disabled" href="#" id="process-selected">Process Selected Jobs</a>
            </li>
            <li>
                <a class="dropdown-item disabled" href="#" id="delete-selected">Delete Selected Jobs</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" id="select-all-unprocessed">Select All Unprocessed</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" id="delete-old-jobs">Delete Old Jobs</a>
            </li>
        </ul>
    </div>
</div>
<div id="resize_wrapper">
    <table id="jobsTable" class="table table-dark table-striped"></table>
</div>

<script src="{{ url_for('static', filename='js/jobs.js') }}"></script>

{% endblock %}
