/* General Page Styling */
body {
    background-color: #1b1b1b;
    color: #e6e6e6;
    font-family: Arial, sans-serif;
}

/* Sidebar */
#sidebar {
    background-color: #343a40;
    color: #fff;
    min-width: 250px;
    max-width: 250px;
    padding: 15px;
}

.navbar-brand {
    color: #fff !important;
}

/* Modal */
.modal-content {
    background-color: #2d2d2d;
    border: none;
    color: #e6e6e6;
}

.modal-header, .modal-footer {
    border: none;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #287aff;
    border-radius: 5px;
}

/* Sidebar Styling */
#sidebar {
    height: 100vh; /* Full height */
    padding-top: 20px;
}

#sidebar a.nav-link:hover {
    background-color: #495057;
}

/* Sticky Sidebar */
.position-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Main Content */
main {
    padding-top: 20px;
}

/* Toggle button customization (optional) */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

html, body {
    height: 100%;
}

#sidebar {
    height: 100vh; /* Full viewport height */
    position: fixed; /* Fixes the sidebar on the left */
}

main {
    margin-left: 250px; /* Adjust this based on sidebar width */
    padding: 20px;
}
