{% extends "layout.html" %}

{% block title %}Job Dashboard{% endblock %}

{% block content %}
<h1>Job Listings</h1>
<div id="connection-status" class="alert" style="display: none;"></div>
<div id="error-message" class="alert alert-danger" style="display: none;"></div>
<table id="jobsTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Budget</th>
            <th>Email Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>
                <a href="{{ url_for('jobs.job_detail', job_id=job[0]) }}">
                    {{ job[1] }}
                </a>
            </td>
            <td>{{ job[3] }}</td>
            <td>{{ job[4] }}</td>
            <td class="job-status" data-status="{{ job[6] }}">{{ job[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-primary" id="fetch-jobs-btn">Fetch Jobs</button>
<button class="btn btn-danger" id="cancel-fetch-btn" style="display: none;">Cancel Fetching</button>
<button class="btn btn-primary" id="process-jobs-btn" onclick="processSelectedJobs()">Process Selected Jobs</button>
<button class="btn btn-primary" id="queue-selected-jobs-btn" onclick="queueSelectedJobs()">Queue Selected Jobs</button>

<script src="{{ url_for('static', filename='js/jobs.js') }}"></script>

{% endblock %}
