<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

</head>
<body class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <!-- Toggle Button for Small Screens -->
            <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
            </button>

            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="position-sticky">
                    <a class="navbar-brand d-block text-center py-4 bg-dark text-light" href="{{ url_for('root') }}">
                        My App
                    </a>
                    <ul class="nav flex-column">
                        {% if current_user.is_authenticated %}
                            {% if role_manager.has_role(current_user.user_id, 'admin') %}
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{{ url_for('admin.dashboard') }}">Admin Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{{ url_for('admin.users') }}">Manage Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{{ url_for('admin.roles') }}">Manage Roles</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('user.profile_get') }}">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('jobs.index') }}">Jobs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('user.logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('user.login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('user.signup') }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 col-lg-10">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

<!-- Full version of jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<!-- Correct version of Popper.js for Bootstrap 4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
